<?xml version="1.0"?>
<!--
/**
 * Magento 2 extensions for TogetherPay Payment
 *
 * @author Splitoff
 * @copyright 2022-2023 TogetherPay https://togetherpay.io
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Splitoff\TogetherPay\Model\Adapter\ApiMode">
          <arguments>
              <argument name="environments" xsi:type="array">
                  <item name="sandbox" xsi:type="array">
                      <item name="label" xsi:type="string">Sandbox</item>
                      <item name="api_url" xsi:type="string">http://develop.splitoff.io/</item>
                      <item name="web_url" xsi:type="string">http://develop.splitoff.io/pay/develop/</item>
                      <item name="js_lib_url" xsi:type="string">https://js.sandbox.splitoff.io/</item>

                  </item>
                  <item name="production" xsi:type="array">
                      <item name="label" xsi:type="string">Production</item>
                      <item name="api_url" xsi:type="string">http://splitoff.io/</item>
                      <item name="web_url" xsi:type="string">http://splitoff.io/pay/develop/</item>
                      <item name="js_lib_url" xsi:type="string">https://js.splitoff.io/</item>
                  </item>
              </argument>
          </arguments>
    </type>

    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="addSplitoffTokenToResponse" type="Splitoff\TogetherPay\Model\PaymentInformationManagement\Plugin" />
    </type>
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="addSplitoffTokenToResponse" type="Splitoff\TogetherPay\Model\GuestPaymentInformationManagement\Plugin" />
    </type>

    <type name="Splitoff\TogetherPay\Model\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Splitoff\TogetherPay\Helper\Data">
       <arguments>
           <argument name="logger" xsi:type="object">Splitoff\TogetherPay\Model\Logger\Logger</argument>
       </arguments>
   </type>
    <type name="Splitoff\TogetherPay\Model\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">togetherpay</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="debug" xsi:type="object">Splitoff\TogetherPay\Model\Logger\Handler</item>
            </argument>
        </arguments>
    </type>


</config>
